.niceButton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 500px;
    padding: 8px 16px;
    outline: none;
    border-width: 2px;
    border-color: transparent;
    border-style: solid;
    font-weight: bold;
    user-select: none;
    transition: all 0.2s ease;
    cursor: pointer;
    border-color: rgb(0, 49, 104);
    
}
.niceButton:hover{
    color:grey;
}
.circle {
    border-radius: 50%;
}
.rectangle {
    border-radius: 0%;
  }

.icon {
    width: 1em;
    height: 1em;
}
.icon-right {
    margin-left: 0.5em;
}
