.jumbotron {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 650px;
}
.jumbotron > img {
    width: 100%;
}
.houseBanner{
    background-color: black;
    height: 500px;
    min-width: 60%;
}
.headerDetail {
    height: 500px;
    min-width: 40%;
    background: linear-gradient(90deg, rgba(2,0,36,0.02984943977591037) 1%, rgba(210,210,189,1) 30%, rgba(163,166,146,1) 97%);
}
.navigation{
    flex-direction: row;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 657px;
    min-width: 555px;

}

.navItem:hover{
    color:grey;
}
.navItem{
    cursor: pointer;
    font-weight: bold;
}
.navWrapper{
    height: 52px;
    position: absolute;
    width: 100%;

    background-color: rgba(255,255,255,.6);
    border-top: 1px solid transparent;
}

