:local(.jumbotron) {
    display: inline-flex;
    justify-content: space-between;
}
:local(.houseBanner){
    background-color: black;
    height: 240px;
    width: 450px;
}
:local(.headerDetail) {
    background-color: red;
    height: 240px;
}