.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  font-size: 48px;
  margin-bottom: 24px;
}
.info {
  max-width: 800px;
}

.detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
}
.detachedHouse{
  padding: 12px 200px;
  background-color: #F5F5F5;
}
.madeForlifeBg{
  height: 500px;
  background-image: url('https://sansiri-com-frontend.s3.ap-southeast-1.amazonaws.com/assets/img/home/sansiri-home-made-for-life-section.jpg?v=1.0.1')
}

.houseHeaderWrapper{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

}
.houseTitle{
  flex-direction: column;
  text-align: left;
  
}
.houseTitle> h3{
  color:grey;
  font-size: 12px
}
.searchbtn{
  height: 42px;
}
.projects{
  max-width: 61%;
  border-radius: 4px;
  padding: 12px 2px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -142px;
  background-color: white;
}
.projectsGrid{
    position: relative;
    bottom: 100px;
    width: 70%;
    margin: auto;
}
.projects > h2{
  color: #003168;
}
.brandGridItem{
  border:1px solid #d9dde2;
}
.logo >img{
  width: 150px;
}
.buttons{
  margin-bottom: 16px;
}
.btn{
  border-color:#c7c8c9!important
}
.btnWrapper{
  display: flex;
  justify-content: space-between;
}
.madeForLife >span{
  text-align: left;
}
.madeForLife{
  padding: 0 50px;
}
.dot{
  width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
    border-radius: 4px;

}
.threeDot{
  display: none;
  cursor: pointer;
}
.threeDot:hover{
  color:gray
}

@media screen and (min-width: 0) and (max-width: 480px) {
  .madeForLife {
    padding: 0 10px!important;
}
.topFooter{
  display: none;
}
}

@media screen and (min-width: 0) and (max-width: 560px) {
  .navWrapper{
      display: none;
  }
  .detachedHouse{
    padding: 4px;
  }
  .buttons{
    display: none;
  }
  .threeDot{
    display: block;
    position: absolute;
    top: 10px;
    right: 2px;

  }
  .iconBtn{
    display: none!important;
  }
  .brand{
    height: 60px!important;
  }
  .grid {
    grid-row-gap: 8px!important;
  }
  .projectsGrid{
    width: 100%!important;
  }
  .topFooter{
    display: none!important;
  }
}


@media screen and (min-width: 560px) and (max-width: 800px) {
  .detachedHouse{
    padding: 12px;
  }
  .buttons{
    display: none;
  }
  .footerLists{
    display:none ;
  }
  .topFooter{
    display: none!important;
  }
}
