.FooterWrapper{
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    color: white;
    flex-direction: column;

}
.group{
    list-style-type: none;
    text-align: left;
}
.group > li> a{
    color: white;
    text-decoration: none;
}
.topFooter{
    display: flex;
    flex-direction: row;
    border-bottom: 0.5px solid white;
    margin: auto;

}
.bottomFooter{
    display: flex;
    flex-direction: row;
    margin: auto;
    
}