.houseImg {
    width: 100%;
  }
.bts>img{
    width: 44px;
}
.mrt>img{
        width: 44px;
}
.houseCardWrapper{
    background-color: white;
    padding: 12px 20px;
    text-align: left;
    padding-bottom: 30px;
}
.btsmrt{
    flex-direction: row;
    display: flex;
    padding: 0 12px;
    justify-content: space-between;
}

.bts{
    display: flex;
    flex-direction: row;
    margin: 12px 0;
}
.bts >span{ width: 84px;
    margin-left: 14px;
    display: flex;
    text-align: center;
    align-items: center;}
.mrt{
    display: flex;
    flex-direction: row;
}
.mrt >span{  
    display: flex;
    text-align: center;
    align-items: center;
    width: 84px;
    margin-left: 14px;}