.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(293px, 1fr));
    column-gap: 60px;
    row-gap: 60px;
  }
.missionGridItem {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
  }
.brand{
  height: 120px;
  border: 1px solid #d9dde2;
}
.brandItem>img{
  width: 224px;
  height: inherit;
}
.brandItem{
  height: inherit;
}
.detailCard{
  text-align: left;
}
.lifeCardWrapper > img{
  width:100%
}
.detailLifeCard{
  padding: 0 2px;
  text-align: initial;
}
